.component {
  display: grid;
  grid-template-columns: 400px 200px; /* large image takes 2x space */
  gap: 10px;
  align-items: stretch;

  height: 100%;
}

.largeImage,
.smallImage {
  position: relative;
  overflow: hidden;
  border-radius: 2px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}