.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  /* background-color: #fbf6e9e6;  */
  /* backdrop-filter: blur(8px); */
  /* border-bottom: 1px solid var(--border-color); */
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}

.navbarInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem; /* h-16 */
}

.logoImage {
  color: #5c3b23;

  height: 50px;
  width: 50px;

  border-radius: 50%;
  background-color: #fbf6e9e6; 
  /* background-color: transparent; */
}

.socialButtons {
  display: flex;
  gap: 1rem;
}

.socialButton {
  height: 30px;
  width: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  
  
  /* background-color: transparent; */

  transition: all 0.2s;


  backdrop-filter: blur(8px);
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 5px;
}

.socialButton:hover {
  background-color: rgba(255,255,255,0.1);
  background: rgba(255, 183, 77, .9);
}

.lucideIcon {
  color: var(--white);
}

.socialButton:hover > .lucideIcon {
  color: #5c3b23;
}


