.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  background-color: rgba(251, 246, 233, 1); 
  background-color: transparent; 
  backdrop-filter: blur(8px);
  backdrop-filter: unset;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}

.navbarInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem; /* h-16 */
}

.followUsText {
  font-family: var(--ff-gst);
  font-size: var(--fs-875);

  color:#5c3b23;
  color: white;
  margin-right: 10px;

  display: none;
}

@media screen and (min-width:1024px) {
  .followUsText {
    display: block;
  }
}

.bookNowButton {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  margin-left: 40px;

  width: 150px;
  height: 38px;

  background: rgba(255, 183, 77, .9);
  border-radius: 4px;

  color: #5c3b23;
  cursor: pointer;

  font-family: var(--ff-gst);
  font-size: var(--fs-875);
  color:#5c3b23;

  padding: 0 20px;

}


@media screen and (min-width:1024px) {
  .bookNowButton {
    display: flex;;
  }
}

.address {
  display: flex;
  gap: 12px;
  align-items: center;
}

.locationText {
  font-size: var(--fs-875);
  font-family: var(--ff-gst);
  opacity: 0.9;
  color: #5c3b23;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;

  position: relative;
  top: 1px;
}

.badgeText {
  font-family: var(--ff-gst);
  font-size: var(--fs-875);
  position: relative;
  top: 1.5px;
}

.logoImage {
  color: #5c3b23;

  height: 50px;
  width: 50px;

  border-radius: 50%;
  background-color: #fbf6e9e6; 
  /* background-color: transparent; */
}

.socialButtons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.socialButton {
  height: 30px;
  width: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  color: #5c3b23;
  color: #ffffff;
  
  transition: all 0.2s;

  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, .1);
  border: 1px solid #9f7a60;
  border-radius: 5px;

  background: transparent;
}

.socialButton:hover {
  background-color: rgba(255,255,255,0.1);
  background: rgba(255, 183, 77, 1);
  border-color: rgba(255, 183, 77, 1);
}

.lucideIcon {
  color: #5c3b23;
  color: #ffffff;
}

.socialButton:hover > .lucideIcon {
  color: white;
}


