.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  background-color: rgba(251, 246, 233, 1); 
  backdrop-filter: blur(8px);
  /* border-bottom: 1px solid var(--border-color); */
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}

.navbarInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem; /* h-16 */
}

.logoImage {
  color: #5c3b23;

  height: 50px;
  width: 50px;

  border-radius: 50%;
  background-color: #fbf6e9e6; 
  /* background-color: transparent; */
}

.socialButtons {
  display: flex;
  gap: 1rem;
}

.socialButton {
  height: 30px;
  width: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  color: #5c3b23;
  
  transition: all 0.2s;

  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, .1);
  border: 1px solid #9f7a60;
  border-radius: 5px;

  background: transparent;
}

.socialButton:hover {
  background-color: rgba(255,255,255,0.1);
  background: rgba(255, 183, 77, .9);
}

.lucideIcon {
  color: #5c3b23;
}

.socialButton:hover > .lucideIcon {
  color: white;
}


