.carouselWrapper {
  display: flex;
  flex-direction: row nowrap;
  align-items: center;
  gap: 20px;
  /* width: 100%; */
  height: 650px;
  max-width: 420px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.cardStack {
  position: relative;
  width: 100%;
  height: 380px;
  perspective: 1000px;
}

/* Base card style */
.card {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  /* width: 90%; */
  width: 350px;
  /* height: 260px; */
  height: 400px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.25);
  background-color: rgba(251, 246, 233, .9);
  padding: 10px 10px 10px 10px;
  opacity: 0;
  transform-origin: top center;
  transition: all 0.8s ease;
}

.image {
  width: 100%;
  /* height: 100%; */
  height: 250px;

  border-radius: 5px;

  object-fit: cover;
}

.cardContent {
  position: absolute;
  bottom: 0;
  color: white;
  /* padding: 16px; */
  border-radius: 0 0 8px 8px;

  height: 100px;

  background-color: rgba(251, 246, 233, .9);
}

.card h3 {
  font-size: var(--fs-1);
  font-family: var(--ff-gst);
  font-weight: 500;
  margin-bottom: 4px;


  text-align: center;
  color: #5c3b23;
}

.card p {
  font-size: var(--fs-875);
  font-family: var(--ff-gst);
  opacity: 0.9;
  text-align: center;

  color: #9f7a60;
}

/* --- Stacking vertically from top --- */
.active {
  opacity: 1;
  transform: translateY(0) scale(1);
  z-index: 5;
}

.next {
  opacity: 0.85;
  /* opacity: 0; */

  /* transform: translateY(30px) scale(0.97); */
  transform: translateY(-10px) scale(0.90);

  z-index: 2;
}

.behind {
  opacity: 0.65;
  /* opacity: 0; */
  /* transform: translateY(60px) scale(0.94); */
  transform: translateY(-20px) scale(0.80);
  z-index: 1;
}

.previous {
  opacity: 0;
  /* transform: translateY(90px) scale(0.9); */
  transform: translateY(-30px) scale(0.70);
  z-index: 0;
}

.previous > p,
.next > p,
.behind > p {
  opacity: 0;
}

/* --- Bottom Controls --- */
.dots {
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: #f0f0f0;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.activeDot {
  background-color: #808080;
}

.controls {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}

.iconButton {
  background-color: transparent;
  border: 1px solid #f0f0f0;
  /* border: none; */
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.iconButton:hover {
  background-color: #e0e0e0;
}

.icon {
  color: #808080;
}

/* Rotate chevrons to indicate up/down direction */
.rotateUp {
  transform: rotate(0deg);
}

.rotateDown {
  transform: rotate(180deg);
}
