.component {
  display: grid;
  grid-template-columns: 400px 300px; /* right large, left smalls */
  gap: 10px;
  align-items: stretch;
  height: 100%;
}

.leftColumn {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.smallImage,
.largeImage {
  position: relative;
  overflow: hidden;
  border-radius: 2px;
}
