.card {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  padding: 1.5rem;
  width: 370px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.h3 {
  font-size: 1.2rem;
  font-family: var(--ff-gst);
  margin-bottom: 0.5rem;

  text-align: center;
  color: #5c3b23;
}

.inputs {
  display: flex;
  gap: 0.5rem;
}

.inputBox {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.label {

  font-size: var(--fs-875);
  font-family: var(--ff-gst);

  color: #555;
  margin-bottom: 0.2rem;
  padding-left: 8px;
}

.input, .select {
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 0.9rem;
  font-family: var(--ff-gst);
}

.checkBtn {
  color: #5c3b23;
  cursor: pointer;

  border: none;
  border-radius: 7px;
  background: rgba(255, 183, 77, 1);

  padding: 0.8rem;

  font-weight: 600;
  font-family: var(--ff-gst);
  font-size: var(--fs-875);
}

.checkBtn:hover {
  opacity: 0.9;
}

.minStay {
  font-size: 0.8rem;
  font-family: var(--ff-gst);
  color: #777;
  text-align: center;

  text-transform: capitalize;
    color: var(--black);
    font-size: 3.2rem;
    font-family: var(--ff-n);
    text-decoration: underline;
}
