.component {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 400px;

  overflow: hidden;
  border-radius: 2px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}